body {
    background-color: #FFFFFF;
    color: #262626;
    font-family: Sans-Serif;
}
.content-slide{
    background-color: #262626;
}

.product-slide {
    width: auto;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    background-color: #E2E8CE;
    text-align: center
}

.product-slide figure a img {
    height: 4cm;
    width: 4cm;
   
}

#summary{
    text-align: center;
    padding: 1%;
}
#buy-button-div{
    
    padding: 2%;
}
.img-success-buy{
    height: 10%;
    width: 10%;
    padding: 5%;
}




