/*Color Palette 262626 • ACBFA4 • E2E8CE • FF7F11 • FF1B1C⁣*/

footer{
    background-color: #b3c9ff ;
  color: #262626;
  font-family: Sans-Serif;
}
.container{
    text-align: center;
    width: auto;
}

.row{
    text-align: center;
}

.info-subscribe{
    text-align: center;
}

.contact-info{
    display: inline-block;
}

.subscribe{
    display: inline-block;
    height: auto;
    
}
.author{
    background-color: #262626;
    color: #E2E8CE;
}
button{
    
        -moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
        -webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
        box-shadow:inset 0px 39px 0px -24px #e67a73;
        background-color:#e4685d;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        border:1px solid #ffffff;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        padding:6px 15px;
        text-decoration:none;
        text-shadow:0px 1px 0px #b23e35;
    
   
}
button:hover {
    background-color:#eb675e;
}
button:active {
    position:relative;
    top:1px;
}